{% block genemu_captcha_widget %}
{% spaceless %}
    <img src="{{ src }}" width="{{ width }}" height="{{ height }}" title="{{ name|trans }}" />
    {{ block('field_widget') }}
{% endspaceless %}
{% endblock genemu_captcha_widget %}

{% block genemu_recaptcha_widget %}
{% spaceless %}
    <div id="{{ id }}_div"></div>
    <noscript>
        <iframe src="{{ server }}/noscript?k={{ public_key }}" width="500" height="300" frameborder="0"></iframe>
        <br />
        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
        <input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
    </noscript>
{% endspaceless %}
{% endblock genemu_recaptcha_widget %}

{% block genemu_jquerydate_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('field_widget') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}

            {% set attr = attr|merge({'size': 10}) %}
            {% set id = id ~ '_datepicker' %}
            {{ block('hidden_widget') }}
            {{ form_widget(form.datepicker) }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock genemu_jquerydate_widget %}

{% block genemu_jqueryautocompleter_widget %}
{% spaceless %}
    {{ block('hidden_widget') }}

    {% set id = 'autocomplete_' ~ id %}
    {% set full_name = 'autocompleter_' ~ full_name %}
    {% set value = autocomplete_value %}
    {{ block('field_widget') }}
{% endspaceless %}
{% endblock genemu_jqueryautocompleter_widget %}

{% block genemu_jqueryslider_widget %}
{% spaceless %}
    {{ block('hidden_widget') }}
    <div id="{{ id }}Slider"></div>
{% endspaceless %}
{% endblock genemu_jqueryslider_widget %}

{% block genemu_jqueryfile_widget %}
{% spaceless %}
    {% set type = 'hidden' %}
    {{ block('hidden_widget') }}
    <div class="queue">
        <div id="{{ id }}Queue"></div>
    </div>
{% endspaceless %}
{% endblock genemu_jqueryfile_widget %}

{% block genemu_jqueryimage_widget %}
{% spaceless %}
    <div id="{{ id }}Container">
        <div class="left">
            <div id="{{ id }}Preview">
                {% set type = 'hidden' %}
                {{ block('hidden_widget') }}

                <a id="{{ id }}Overlay" href="#">&nbsp;</a>
                <img id="{{ id }}ImgPreview" src="{{ asset('bundles/genemuform/images/default.png') }}" alt="{% trans %}Preview{% endtrans %}" />
            </div>
            <ul id="{{ id }}Options" class="options">
                <li class="rotate _change"></li>
                <li class="bw _change"></li>
                <li class="negative _change"></li>
                <li class="sepia _change"></li>
                <li id="{{ id }}Loading" class="loading" style="display:none;">&nbsp;</li>
            </ul>
            <div class="queue">
                <div id="{{ id }}Queue"></div>
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock genemu_jqueryimage_widget %}
