{% block genemu_tinymce_widget %}
{% spaceless %}
    {{ block('textarea_widget') }}
    {% set configs = configs|merge({'script_url': asset(script_url)}) %}
    <script type="text/javascript">
        jQuery('#{{ id }}').tinymce({{ configs|json_encode|raw }});
    </script>
{% endspaceless %}
{% endblock genemu_tinymce_widget %}

{% block genemu_recaptcha_widget %}
{% spaceless %}
    <script type="text/javascript">
        var RecaptchaOptions = {{ configs|json_encode|raw }};
    </script>
    <script type="text/javascript" src="{{ server }}/challenge?k={{ public_key }}"></script>
    <noscript>
        <iframe src="{{ server }}/noscript?k={{ public_key }}" width="500" height="300" frameborder="0" />
        <br />
        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
        <input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
    </noscript>
{% endspaceless %}
{% endblock genemu_recaptcha_widget %}

{% block genemu_jquerydate_widget %}
{% spaceless %}
    <div>
    {% if widget == 'single_text' %}
        {{ block('field_widget') }}
    {% else %}
        {{ date_pattern|replace({
            '{{ year }}':  form_widget(form.year),
            '{{ month }}': form_widget(form.month),
            '{{ day }}':   form_widget(form.day),
        })|raw }}

        {% set id = id ~ '_jquery_control' %}
        {% set full_name = id %}
        {% set attr = attr|merge({'size': 10}) %}
        {{ block('hidden_widget') }}
    {% endif %}

    {% if buttonImage is defined %}
        {% set configs = configs|merge({'buttonImage': asset(buttonImage)}) %}
    {% endif %}

    <script type="text/javascript">
    {% if widget == 'choice' %}
        var year = jQuery('#{{ form.year.get('id') }}');
        var month = jQuery('#{{ form.month.get('id') }}');
        var day = jQuery('#{{ form.day.get('id') }}');
    {% endif %}
        jQuery('#{{ id }}').datepicker(jQuery.extend({}, {
            minDate: new Date({{ min_year }}, 0, 1),
            maxDate: new Date({{ max_year }}, 11, 31)
        {% if widget == 'choice' %}
            , onSelect: function(date) {
                year.val(parseInt(date.substring(0, 4), 10));
                month.val(parseInt(date.substring(5, 7), 10));
                day.val(parseInt(date.substring(8), 10));
            }
        {% endif %}
        }, jQuery.datepicker.regional['{{ culture }}'], {{ configs|json_encode|raw }}, {dateFormat: '{{ javascript_format }}'}));
    </script>
    </div>
{% endspaceless %}
{% endblock genemu_jquerydate_widget %}

{% block genemu_jqueryautocompleter_widget %}
{% spaceless %}
    {{ block('hidden_widget') }}

    {% set id = 'autocomplete_' ~ id %}
    {% set full_name = 'autocompleter_' ~ full_name %}
    {% set value = autocomplete_value %}
    {{ block('field_widget') }}
    <script type="text/javascript">
        var {{ name }}_choices = {{ choices|json_encode|raw }};
        jQuery('#{{ id }}')
            .bind('keydown', function(event) {
                if(event.keyCode === $.ui.keyCode.TAB && jQuery(this).data('autocomplete').menu.active) {
                    event.preventDefault();
                }
            })
            .autocomplete({
                source: {{ name }}_choices,
                focus: function(event, ui) {
                    return false;
                },
                select: function(event, ui) {
                {% if multiple %}
                    terms = this.value.split(/,\s*/);
                    terms.pop();
                    terms.push(ui.item.label);
                    terms.push('');
                    this.value = terms.join(', ');

                    terms = jQuery('#{{ form.get('id') }}').val().split(/,\s*/);
                    terms.pop();
                    terms.push(ui.item.value);
                    terms.push('');
                    jQuery('#{{ form.get('id') }}').val(terms.join(','));
                {% else %}
                    this.value = ui.item.label;
                    jQuery('#{{ form.get('id') }}').val(ui.item.value);
                {% endif %}
                    return false;
                }
            });
        {% if multiple %}
            var {{ name }}_source = jQuery('#{{ id }}').data('autocomplete').source;
            jQuery('#{{ id }}').autocomplete('option', 'source', function(request, response) {
                request.term = request.term.split(/,\s*/).pop();
                {{ name }}_source(request, response);
            });
        {% endif %}
    </script>
{% endspaceless %}
{% endblock genemu_jqueryautocompleter_widget %}
