{% block form_javascript %}
{% spaceless %}
    {% for child in form %}
        {{ form_javascript(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock form_javascript %}

{% block field_javascript "" %}

{% block genemu_captcha_javascript %}
{% spaceless %}
    <!--[if lte IE 7]>
    <script type="text/javascript">
        $(function () {
            var pathBase64 = "{{ path('genemu_base64')}}";

            $(document.images).each(function(){
                var src = $(this).attr("src");
                if (/^data:.*;base64/i.test(src)) {
                    src = src.slice(5);
                    $(this).attr("src",pathBase64+"?"+src);
                }
            });
        });
    </script>
    <![endif]-->
{% endspaceless %}
{% endblock genemu_captcha_javascript %}

{% block genemu_recaptcha_javascript %}
{% spaceless %}
    <script type="text/javascript" src="{{ asset(server ~ "/js/recaptcha_ajax.js") }}"></script>
    <script type="text/javascript">
        window.addEventListener(
            'load',
            Recaptcha.create('{{ public_key }}', '{{ id }}_div', {{ configs|json_encode|raw }}),
            false
        );
    </script>
{% endspaceless %}
{% endblock genemu_recaptcha_javascript %}

{% block genemu_tinymce_javascript %}
{% spaceless %}
    {% if configs.script_url is defined %}
        {% set configs = configs|merge({
            "script_url": asset(configs.script_url)
        }) %}
    {% else %}
        {% set configs = configs|merge({
            "mode": "exact",
            "elements": id
        }) %}
    {% endif %}

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var $configs = {{ configs|json_encode|raw }};

        {%- if configs.script_url is defined %}

            $('#{{ id }}').tinymce($configs);
        {% else %}

            tinyMCE.init($configs);
        {% endif -%}

        });
    </script>
{% endspaceless %}
{% endblock genemu_tinymce_javascript %}

{% block genemu_jquerydate_javascript %}
{% spaceless %}
    {% if configs.buttonImage is defined %}
        {% set configs = configs|merge({
            "buttonImage": asset(configs.buttonImage)
        }) %}
    {% endif %}

    {% if culture == "en" %}
        {% set culture = "en-GB" %}
    {% endif %}

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var $configs = $.extend({
                minDate: new Date({{ min_year }}, 0, 1),
                maxDate: new Date({{ max_year }}, 11, 31)
            }, $.datepicker.regional['{{ culture }}'] ,{{ configs|json_encode|raw }});

        {% if widget != "single_text" %}
            {% set id = "datepicker_" ~ id %}

            var $year = $('#{{ form.year.getVar("id") }}');
            var $month = $('#{{ form.month.getVar("id") }}');
            var $day = $('#{{ form.day.getVar("id") }}');

            $configs.onSelect = function(date) {
                $year.val(parseInt(date.substring(0, 4), 10));
                $month.val(parseInt(date.substring(5, 7), 10));
                $day.val(parseInt(date.substring(8), 10));
            }
        {% endif %}

            $('#{{ id }}').datepicker($configs);
        });
    </script>
{% endspaceless %}
{% endblock genemu_jquerydate_javascript %}

{% block genemu_jqueryslider_javascript %}
{% spaceless %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var $field = $('#{{ id }}');
            var $configs = $.extend({{ configs|json_encode|raw }}, {
                value: {{ value ? value : 0 }},
                slide: function(event, ui) {
                    $field.val(ui.value);
                }
            });

            $('#{{ id }}_slider').slider($configs);
        });
    </script>
{% endspaceless %}
{% endblock genemu_jqueryslider_javascript %}

{% block genemu_jquerycolor_javascript %}
{% spaceless %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $field = $('#{{ id }}');
            $configs = $.extend({
                color: '#' + $field.val(),
                onBeforeShow: function() {
                    $(this).ColorPickerSetColor($field.val());
                }
            }, {{ configs|json_encode|raw }});

        {% if widget == "image" %}
            $picker = $('#{{ id }}_color');

            $picker.ColorPicker($.extend({
                onChange: function(hsb, hex, rgb) {
                    $field.val(hex);

                    $('div', $picker).css({
                        backgroundColor: '#' + hex
                    });
                }
            }, $configs));
        {% else %}
            $field.ColorPicker($.extend({
                onChange: function(hsb, hex, rgb) {
                    $field.val(hex).css({
                        backgroundColor: '#' + hex
                    });
                }
            }, $configs));
        {% endif %}
        });
    </script>
{% endspaceless %}
{% endblock genemu_jquerycolor_javascript %}

{% block genemu_jqueryrating_javascript %}
{% spaceless %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('#{{ id }}').parent().stars({{ configs|json_encode|raw }});
        });
    </script>
{% endspaceless %}
{% endblock genemu_jqueryrating_javascript %}

{% block genemu_jquerytokeninput_javascript %}
{% spaceless %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var $field = $('#{{ id }}');
            var $tokeninput = $('#tokeninput_{{ id }}');

            var update_hidden_sourceinput = function(item) {
                var $val = $tokeninput.tokenInput('get');
{% if multiple is empty %}                // get first (and only one) element from object
                for (first in $val) break;
                $val = $val[first];{% endif %}

                $field.val(JSON.stringify($val));
            };

{% if value is not empty %}
            {% if multiple is empty %}
                {% set prePopulate = '[' ~ value ~ ']' %}
            {% else %}
                {% set prePopulate = value %}
            {% endif %}
{% endif %}
            var $configs = {
{% if method is defined %}                // The HTTP method (eg. GET, POST) to use for the server request. default: “GET”.
                method: '{{ method }}',
{% endif %}
{% if queryParam is defined %}                // The name of the query param which you expect to contain the search term on the server-side. default: “q”.
                queryParam: '{{ queryParam }}',
{% endif %}
{% if searchDelay is defined %}                // The delay, in milliseconds, between the user finishing typing and the search being performed. default: 300
                searchDelay: {{ searchDelay }},
{% endif %}
{% if minChars is defined %}                // The minimum number of characters the user must enter before a search is performed. default: 1
                minChars: {{ minChars }},
{% endif %}
{% if propertyToSearch is defined %}                // The javascript/json object attribute to search. default: “name”
                propertyToSearch: '{{ propertyToSearch }}',
{% endif %}
{% if tokenValue is defined %}                // The value of the token input when the input is submitted.
                // Set it to id in order to get a concatenation of token IDs, or to name in order to get a concatenation of names.
                // default: id
                tokenValue: '{{ tokenValue }}',
{% endif %}
{% if jsonContainer is defined %}                // The name of the json object in the response which contains the search results. This is typically used
                // when your endpoint returns other data in addition to your search results. Use null to use the top level
                // response object. default: null.
                jsonContainer: '{{ jsonContainer }}',
{% endif %}
{% if crossDomain is defined %}                // Force JSONP cross-domain communication to the server instead of a normal ajax request.
                // Note: JSONP is automatically enabled if we detect the search request is a cross-domain request.
                // default: false.
                crossDomain: {{ crossDomain }},
{% endif %}
{% if prePopulate is defined %}                // Prepopulate the tokeninput with existing data. Set to an array of JSON objects,
                // eg: [{id: 3, name: "test"}, {id: 5, name: "awesome"}] to pre-fill the input. default: null.
                prePopulate: {{ prePopulate|raw }},
{% endif %}
{% if hintText is defined %}                // The text to show in the dropdown label which appears when you first click in the search field.
                // default: “Type in a search term”
                hintText: '{{ hintText }}',
{% endif %}
{% if noResultsText is defined %}                // The text to show in the dropdown label when no results are found which match the current query.
                // default: “No results”.
                noResultsText: '{{ noResultsText }}',
{% endif %}
{% if searchingText is defined %}                // The text to show in the dropdown label when a search is currently in progress.
                // default: “Searching…”.
                searchingText: '{{ searchingText }}',
{% endif %}
{% if deleteText is defined %}                // The text to show on each token which deletes the token when clicked.
                // If you wish to hide the delete link, provide an empty string here.
                // Alternatively you can provide a html string here if you would like to show an image for deleting tokens.
                // default: ×.
                deleteText: '{{ deleteText }}',
{% endif %}
{% if animateDropdown is defined %}                // Set this to false to disable animation of the dropdown default: true.
                animateDropdown: {{ animateDropdown }},
{% endif %}
{% if theme is defined %}                // Set this to a string, eg “facebook” when including theme css files to set the css class suffix.
                theme: '{{ theme }}',
{% endif %}
{% if resultsFormatter is defined %}                // A function that returns an interpolated HTML string for each result.
                // Use this function with a templating system of your choice, such as jresig microtemplates or mustache.js.
                // Use this when you want to include images or multiline formatted results
                // default: function(item){ return “<li>” + item.propertyToSearch + “</li>” }.
                resultsFormatter: {{ resultsFormatter }},
{% endif %}
{% if tokenFormatter is defined %}                // A function that returns an interpolated HTML string for each token.
                // Use this function with a templating system of your choice, such as jresig microtemplates or mustache.js.
                // Use this when you want to include images or multiline formatted tokens.
                // Quora’s people invite token field that returns avatar tokens is a good example of what can be done this option.
                // default: function(item){ return “<li><p>” + item.propertyToSearch + “</p></li>” }.
                tokenFormatter: {{ tokenFormatter }},
{% endif %}
{% if tokenLimit is defined or multiple %}                // The maximum number of results allowed to be selected by the user. Use null to allow unlimited selections.
                // default: null.
                tokenLimit: {% if multiple %}{% if tokenLimit is defined %}{{ tokenLimit }}{% else %}null{% endif %}{% else %}1{% endif %},
{% endif %}
{% if tokenDelimiter is defined %}                // The separator to use when sending the results back to the server. default: “,”.
                tokenDelimiter: '{{ tokenDelimiter }}',
{% endif %}
{% if preventDuplicates is defined %}                // Prevent user from selecting duplicate values by setting this to true. default: false.
                preventDuplicates: {{ preventDuplicates }},
{% endif %}
                onAdd: update_hidden_sourceinput,
                onDelete: update_hidden_sourceinput
            };
            $tokeninput.tokenInput({% if route_name %}'{{ path(route_name) }}'{% else %}{{ choices|json_encode|raw }}{% endif %}, $configs);
        });
    </script>
{% endspaceless %}
{% endblock genemu_jquerytokeninput_javascript %}

{% block genemu_jqueryautocompleter_javascript %}
{% spaceless %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var $field = $('#{{ id }}');
            var $autocompleter = $('#autocompleter_{{ id }}');
            var $configs = {
                focus: function(event, ui) {
                    return false;
                },
                select: function(event, ui) {
                {% if multiple %}
                    terms = this.value.split(/,\s*/);
                    terms.pop();
                    terms.push(ui.item.label);
                    terms.push('');
                    this.value = terms.join(', ');

                    terms = $field.val();
                    terms = !terms?[]:JSON.parse(terms);
                    terms.push(ui.item);
                {% else %}
                    this.value = ui.item.label;
                    terms = ui.item;
                {% endif %}
                    $field.val(JSON.stringify(terms));

                    return false;
                }
            };

            {% if route_name %}
                $configs.source = function(request, response) {
                    $.getJSON('{{ path(route_name) }}', {
                        term: request.term
                    }, response);
                };
            {% else %}
                $configs.source = {{ choices|json_encode|raw }};
            {% endif %}

                $autocompleter.autocomplete($configs);

            {% if free_values %}
                $autocompleter.keyup(function(){
                    var val ={}
                    var fieldval = $(this).val();
                    val['value'] = fieldval;
                    val['label'] = fieldval;

                    $field.val(JSON.stringify(val));
                });
            {% endif %}

            {% if multiple %}
                var $source = $autocompleter.data('autocomplete').source;

                $autocompleter.autocomplete('option', 'source', function(request, response) {
                    request.term = request.term.split(/,\s*/).pop();

                    $source(request, response);
                });
            {% endif %}
        });
    </script>
{% endspaceless %}
{% endblock genemu_jqueryautocompleter_javascript %}

{% block genemu_jqueryautocompleter_text_javascript %}
{% spaceless %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var $autocompleter = $('#{{ id }}');
            var $configs = {
                focus: function(event, ui) {
                    return false;
                },
                select: function(event, ui) {
                    {% if multiple %}
                        terms = this.value.split(/,\s*/);
                        terms.pop();
                        terms.push(ui.item.value);
                        terms.push('');
                        this.value = terms.join(', ');
                    {% else %}
                        this.value = ui.item.value;
                    {% endif %}

                    return false;
                }
            };

            {% if route_name %}
                $configs.source = function(request, response) {
                    $.getJSON('{{ path(route_name) }}', {
                        term: request.term
                    }, response);
                };
            {% else %}
                $configs.source = {{ suggestions|json_encode|raw }};
            {% endif %}

            $autocompleter.autocomplete($configs);

            {% if multiple %}
                var $source = $autocompleter.data('autocomplete').source;

                $autocompleter.autocomplete('option', 'source', function(request, response) {
                    request.term = request.term.split(/,\s*/).pop();

                    $source(request, response);
                });
            {% endif %}
        });
    </script>
{% endspaceless %}
{% endblock %}

{% block genemu_jquerychosen_javascript %}
{% spaceless %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $field = $('#{{ id }}');

            $field.chosen({
                no_results_text: '{{ empty_value }}',
                allow_single_deselect: {{ allow_single_deselect ? 'true' : 'false' }},
                disable_search_threshold: {{ disable_search_threshold }}
            });
        });
    </script>
{% endspaceless %}
{% endblock genemu_jquerychosen_javascript %}

{% block genemu_jquerygeolocation_javascript %}
{% spaceless %}
    {% if map is sameas(true) %}
        {% set configs = configs|merge({
            "elements": configs.elements|merge({
                "map": "#" ~ id ~ "_map"
            })
        }) %}
    {% endif %}

    {% if form.latitude is defined %}
        {% set configs = configs|merge({
            "elements": configs.elements|merge({
                "lat": "#" ~ form.latitude.get("id")
            })
        }) %}
    {% endif %}

    {% if form.longitude is defined %}
        {% set configs = configs|merge({
            "elements": configs.elements|merge({
                "lng": "#" ~ form.longitude.get("id")
            })
        }) %}
    {% endif %}

    {% if form.locality is defined %}
        {% set configs = configs|merge({
            "elements": configs.elements|merge({
                "locality": "#" ~ form.locality.get("id")
            })
        }) %}
    {% endif %}

    {% if form.country is defined %}
        {% set configs = configs|merge({
            "elements": configs.elements|merge({
                "country": "#" ~ form.country.get("id")
            })
        }) %}
    {% endif %}

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $field = $('#{{ form.address.get("id") }}');

            $field.addresspicker({{ configs|json_encode|raw }});

            {% if map is sameas(true) %}
                var gmarker = $field.addresspicker('marker');
                gmarker.setVisible(true);

                $field.addresspicker('updatePosition');
            {% endif %}
        });
    </script>
{% endspaceless %}
{% endblock genemu_jquerygeolocation_javascript %}

{% block genemu_jqueryfile_javascript %}
{% spaceless %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        var $field = $('#{{ id }}_upload');
        var $form = $field.closest('form');
        var $queue = $('#{{ id }}_queue');
        var $nbQueue = 0;

        var $configs = $.extend({{ configs|merge({
            'swf':       asset(configs.swf),
            'cancelImg': asset(configs.cancelImg),
            'uploader':  path(configs.script),
            'queueID':   id ~ '_queue'
        })|json_encode|raw }}, {
            onUploadSuccess: function(file, data, response) {
                data = jQuery.parseJSON(data);

                if (data.result == '1') {
                    {% if multiple %}
                        var value = $('#{{ id }}').val();
                        if (value != '') {
                            value += ",";
                        }
                        value += data.file;
                    {% else %}
                        var value = data.file;
                    {% endif %}

                    $('#{{ id }}').val(value);
                    $nbQueue--;
                } else {
                    alert('Error');
                }
            },
            onSelect: function(file) {
                $nbQueue++;
            },
            onUploadError: function(file, errorCode, errorMsg, errorString) {
                alert('error');
            }
        });

    {% if configs.auto is not defined or configs.auto is sameas(false) %}
        $configs.onAllComplete = function(event, data) {
            $form.submit();
        };

        $form.submit(function(event) {
            if (0 === $nbQueue) {
                return $joinFiles();
            } else {
                $field.uploadifyUpload();
                event.preventDefault();
            }
        });
    {% else %}
        $form.submit(function(event) {
            return $joinFiles();
        });
    {% endif %}

        var $joinFiles = function() {
            if ($files = $field.data('files')) {
                $field.val($files.join(','));
            }

            return true;
        }

        $field.uploadify($configs);
    });
</script>
{% endspaceless %}
{% endblock genemu_jqueryfile_javascript %}

{% block genemu_jqueryimage_javascript %}
{% spaceless %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        var $field   = $('#{{ id }}_upload');
        var $form    = $field.closest('form');
        var $preview = $('#{{ id }}_img_preview');
        var $options = $('#{{ id }}_options');
        // Base path for apps not on DocumentRoot
        var $basePath = '{{ asset(configs.folder) }}';
        $basePath = $basePath.substr(0, $basePath.length - '{{ configs.folder }}'.length);

        var $coords = {};
        var $crop = null;
        var $ratio = 1;

        var $configs = $.extend({{ configs|merge({
            'swf':       asset(configs.swf),
            'cancelImg': asset(configs.cancelImg),
            'uploader':  path(configs.script),
            'queueID':   id ~ '_queue'
        })|json_encode|raw }}, {
            onUploadSuccess: function(file, data, response) {
                data = jQuery.parseJSON(data);

                if (data.result == '1') {
                    $('#{{ id }}').val(data.file);

                    // add if and only if path is relative
                    if (data.thumbnail.file.search(/^[/\\]/) < 0) {
                        data.thumbnail.file = $basePath + data.thumbnail.file;
                    }

                    createCrop({
                        image:      data.image,
                        thumbnail:  data.thumbnail
                    });
                } else {
                    alert('Error');
                }
            },
            onUploadError: function(file, errorCode, errorMsg, errorString) {
                alert('error');
            }
        });

        var createCrop = function (data) {
            if ($crop) {
                $crop.destroy();
            }

            // add if and only if path is relative
            if (data.thumbnail.file.search(/^[/\\]/) < 0) {
                data.thumbnail.file = $basePath + data.thumbnail.file;
            }
            var $img = new Image();

            console.log(data);
            $($img).load(function() {
                {% set widthMax = data.thumbnail is defined ? data.thumbnail.width : 500 %}

                $ratio = data.image.width > {{ widthMax }} ? data.image.width / {{ widthMax }} : 1;
                $('.crop', $options).hide();

                $preview
                    .width(Math.round(data.image.width / $ratio))
                    .height(Math.round(data.image.height / $ratio))
                    .attr('src', this.src);

                if (!$crop) {
                    $options.fadeIn();
                }

                $preview.Jcrop({
                    onSelect: checkCoords,
                    onChange: checkCoords
                }, function() {
                    $crop = this;
                });
            }).attr('src', data.thumbnail.file);
        }

        var checkCoords = function(coords) {

            if (coords.w > 0 && coords.h > 0) {
                $('.crop', $options).fadeIn();

                $coords = {
                    x: coords.x * $ratio,
                    y: coords.y * $ratio,
                    w: coords.w * $ratio,
                    h: coords.h * $ratio
                };
            } else {
                $('.crop', $options).fadeOut();
            }
        }

        $('.change', $options).click(function() {
            var $this = $(this);
            var $regex = new RegExp('^\\b(.*?) (.*)\\b', 'g');
            var $filter = $this.attr('class').replace($regex, '$1');

            var $data = {
                filter: $filter,
                image: $('#{{ id }}').val(),
                opacity: 0.5
            };

            if ('crop' === $filter && !$.isEmptyObject($coords)) {
                $data = $.extend($data, $coords);
            }

            if (
                $.inArray($filter, {{ filters|json_encode|raw }}) !== -1 ||
                ( 'crop' === $filter && !$.isEmptyObject($coords) )
            ) {
                $this.addClass('loading');

                $.ajax({
                    type: 'POST',
                    url: '{{ path('genemu_form_image') }}',
                    data: $data,
                    dataType: 'json',
                    success: function(data) {
                        if (data.result == '1') {
                            $('#{{ id }}').val(data.file);

                            createCrop({
                                image: data.image,
                                thumbnail: $.isEmptyObject(data.thumbnail) ? $.extend(data.image, {
                                    file: data.file
                                }) : data.thumbnail
                            });
                        } else {
                            alert('Error');
                        }

                        $this.removeClass('loading');
                    }
                });
            }
        });

    {% if value %}
        createCrop({
            thumbnail: {
                file: '{{ thumbnail is defined ? thumbnail.file : value }}',
                width: {{ thumbnail is defined ? thumbnail.width : width }},
                height: {{ thumbnail is defined ? thumbnail.height : height }},
            },
            image: {
                width: {{ width }},
                height: {{ height }}
            }
        });
    {% else %}
        $options.hide();
    {% endif %}

        $field.uploadify($configs);
    });
</script>
{% endspaceless %}
{% endblock genemu_jqueryimage_javascript %}
